.container{
  text-align: center;
  margin-top: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet', sans-serif;
}

button{
  padding: 10px;
  width: 150px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  background-color: lightgrey;
}

button:hover{
  background-color: grey;
  cursor: pointer;
}

p.counter-container{
  font-size: 3.5em;
  font-weight: bold;
  color: hsl(0,0,20%);
  text-align: center;
  margin-bottom: 20px;
  border: 3px solid;
  border-radius: 10px;
  background-color: aquamarine;
}

footer{
  text-align: center;
}